<section class="bg-white rounded-2xl w-1/2 mx-auto p-4 sm:p-6">
  <div class="mb-5 grid grid-cols-2 rounded-xl bg-slate-100 p-1">
    <button type="button" class="rounded-lg py-2 text-sm font-extrabold transition text-sl hover:text-slate-800 text-slate-600">Login</button>
    <button type="button" class="rounded-lg py-2 text-sm font-extrabold transition text-sl hover:text-slate-800  text-slate-600">Resister</button>
  </div>
  <h2 class="font-extrabold  text-2xl text-slate-900">Create a new account </h2>
  <p class="mt-1 text-sm text-slate-500">It is quick and easy</p>
  @if(resMassage){
    <P class="bg-rose-400 p-3 rounded-xl w-1/2 mx-auto my-2">{{resMassage}}</P>
  }
  <div class="container mx-auto p-2">
    <form [formGroup]="registerForm" (ngSubmit)="register()" >

        <div class="my-2 relative">
          <span class="pointer-events-none absolute left-3 top-1/2 -translate-y-1/2 text-slate-400"><i class="fa-regular fa-user"></i></span>
          <input formControlName="name" class="px-2 py-1 rounded-lg focus:bodrder-mainColor block w-full my-1" placeholder="Full name" type="text" id="name">
        @if(registerForm.get('name')?.invalid && registerForm.get('name')?.touched){
        @if(registerForm.get('name')?.hasError('required')){
          <p class="mt-1 text-xs font-semibold text-rose-600">Full name is required.</p>
        }


    }
        </div>
        <div class="my-2 relative">
                    <span class="pointer-events-none absolute left-3 top-1/2 -translate-y-1/2 text-slate-400"><i class="fa-regular fa-at"></i></span>
          <input formControlName="username" class="px-2 py-1 rounded-lg focus:bodrder-mainColor block w-full my-1" placeholder="Username (optional)" type="text" id="username">
              @if(registerForm.get('username')?.invalid && registerForm.get('username')?.touched){
        @if(registerForm.get('username')?.hasError('minlength')){
          <p class="mt-1 text-xs font-semibold text-rose-600">Username must be 3-30 chars (a-z, 0-9, _).</p>
        }@else if (registerForm.get('username')?.hasError('maxlength')) {
        <p class="mt-1 text-xs font-semibold text-rose-600">Username must be 3-30 chars (a-z, 0-9, _).</p>
        }

    }
        </div>
        <div class="my-2 relative">
                    <span class="pointer-events-none absolute left-3 top-1/2 -translate-y-1/2 text-slate-400"><i class="fa-regular fa-at"></i></span>
          <input formControlName="email" class="px-2 py-1 rounded-lg focus:bodrder-mainColor block w-full my-1" placeholder="Email address" type="email" id="email">
    @if(registerForm.get('email')?.invalid && registerForm.get('email')?.touched){
    @if(registerForm.get('email')?.hasError('required')){
      <p class="mt-1 text-xs font-semibold text-rose-600">Email is required.</p>
    }@else if (registerForm.get('email')?.hasError('email')){
      <p class="mt-1 text-xs font-semibold text-rose-600">Please enter a valid email address.</p>
    }
    }
        </div>
        <div class="my-2 relative">
                    <span class="pointer-events-none absolute left-3 top-1/2 -translate-y-1/2 text-slate-400"><i class="fa-solid fa-user-group"></i></span>
          <select id="countries" class="block w-full px-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand shadow-xs placeholder:text-body">
    <option selected>Select gender</option>
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>
            @if(registerForm.get('gender')?.invalid && registerForm.get('gender')?.touched){

    @if(registerForm.get('gender')?.hasError('required')){
      <p class="mt-1 text-xs font-semibold text-rose-600">Gender is required</p>}
    }
        </div>
        <div class="my-2 relative">
                    <span class="pointer-events-none absolute left-3 top-1/2 -translate-y-1/2 text-slate-400"><i class="fa-regular fa-calendar"></i></span>
          <input formControlName="dataOfBirth" class="px-2 py-1 rounded-lg focus:bodrder-mainColor block w-full my-1"  type="date" id="date">
                   @if(registerForm.get('dataOfBirth')?.invalid && registerForm.get('dataOfBirth')?.touched){

    @if(registerForm.get('dataOfBirth')?.hasError('required')){
      <p class="mt-1 text-xs font-semibold text-rose-600">Date of birth is required.</p>}

    }
        </div>
        <div class="my-2 relative ">
                    <span class="pointer-events-none absolute left-3 top-1/2 -translate-y-1/2 text-slate-400"><i class="fa-solid fa-key"></i></span>

          <input formControlName="password" class="px-2 py-1 rounded-lg focus:bodrder-mainColor block w-full my-1" placeholder="Your Password" type="password" id="pass">
            @if(registerForm.get('password')?.invalid && registerForm.get('password')?.touched){
        @if(registerForm.get('password')?.hasError('required')){
          <p class="mt-1 text-xs font-semibold text-rose-600">Password is required.</p>
        }
        @else if(registerForm.get('password')?.hasError('pattern')){
          <p class="mt-1 text-xs font-semibold text-rose-600">Password must include uppercase, lowercase, number, and special character.</p>
        }

         }
        </div>
        <div class="my-2 relative">
                    <span class="pointer-events-none absolute left-3 top-1/2 -translate-y-1/2 text-slate-400"><i class="fa-solid fa-key"></i></span>
          <input formControlName="rePassword" class="px-2 py-1 rounded-lg focus:bodrder-mainColor block w-full my-1" placeholder="Your RePassword" type="password" id="repass">
              @if(registerForm.get(' rePassword')?.invalid && registerForm.get(' rePassword')?.touched){
        @if(registerForm.get(' rePassword')?.hasError('required')){
          <p class="mt-1 text-xs font-semibold text-rose-600">Please confirm your password.</p>
        }
        @else if(registerForm.get(' rePassword')?.hasError('missmatch')){
          <p class="mt-1 text-xs font-semibold text-rose-600">Passwords do not match</p>
        }

         }
        </div>
        <button class="form-btn">Create New Account</button>
    </form>
  </div>
</section>
