
  <section class="mb-4 ">
   <h2 class="font-extrabold  text-2xl text-slate-900">Log in to Route Posts </h2>
  <p class="mt-1 text-sm text-slate-500">Log in and continue your social journey.</p>
    @if(LoginMassage){
    <P class="bg-rose-400 p-3 rounded-xl w-1/2 mx-auto my-2">{{LoginMassage}}</P>
  }
  <div class="container mx-auto">
    <form [formGroup]="loginForm" (ngSubmit)="login()" >
<div class="my-2 relative">
  @let emailFormControl = loginForm.get('email');
                    <span class="pointer-events-none absolute left-3 top-1/2 -translate-y-1/2 text-slate-400"><i class="fa-regular fa-at"></i></span>
          <input formControlName="email" class="w-full rounded-xl bg-slate-50 py-3 pl-11 pr-4 text-sm text-slate-800 outline-none transition bg-white border-slate-200" placeholder="Email address" type="email" id="email">
    @if(loginForm.get('email')?.invalid && loginForm.get('email')?.touched){
    @if(loginForm.get('email')?.hasError('required')){
      <p class="mt-1 text-xs font-semibold text-rose-600">Email is required.</p>
    }@else if (loginForm.get('email')?.hasError('email')){
      <p class="mt-1 text-xs font-semibold text-rose-600">Please enter a valid email address.</p>
    }
    }
        </div>
         <div class="my-2 relative ">
            @let passFormControl = loginForm.get('email');

                    <span class="pointer-events-none absolute left-3 top-1/2 -translate-y-1/2 text-slate-400"><i class="fa-solid fa-key"></i></span>

          <input formControlName="password" class="w-full rounded-xl bg-slate-50 py-3 pl-11 pr-4 text-sm text-slate-800 outline-none transition bg-white border-slate-200" placeholder="Your Password" type="password" id="pass">
            @if(loginForm.get('password')?.invalid && loginForm.get('password')?.touched){
        @if(loginForm.get('password')?.hasError('required')){
          <p class="mt-1 text-xs font-semibold text-rose-600">Password is required.</p>
        }
        @else if(loginForm.get('password')?.hasError('pattern')){
          <p class="mt-1 text-xs font-semibold text-rose-600">Password must include uppercase, lowercase, number, and special character.</p>
        }

        }
        </div>

                <button [disabled]="loginForm.invalid" class="w-full rounded-xl py-3 text-base font-extrabold text-white transition disabled:opacity-50 bg-[#00298d] focus:bg-[#001f6b]">Login</button>
                <button type="button" class="mx-auto block pt-3 text-sm font-semibold text-[#00298d] transition hover:underline"> Forgot password</button>


</form>
</div>
</section>
