<p>login works!</p>

  <section class="bg-gray-300 rounded-lg w-1/2 mx-auto">
  <h1 class="font-bold text-xl"> Register Form</h1>
    @if(resMassage){
    <P class="bg-rose-400 p-3 rounded-xl w-1/2 mx-auto my-2">{{resMassage}}</P>
  }
  <div class="container mx-auto">
    <form [formGroup]="loginFrom" (ngSubmit)="login()" >

  <div class="my-2">
          <label class="font-medium" for="userName">Email</label>
          <input formControlName="email" class="px-2 py-1 rounded-lg focus:bodrder-mainColor block w-full my-1" placeholder="Your Email" type="email" id="email">
        </div>
    <div class="my-2">
          <label class="font-medium" for="pass">Paasword</label>
          <input formControlName="password" class="px-2 py-1 rounded-lg focus:bodrder-mainColor block w-full my-1" placeholder="Your Password" type="password" id="pass">
        </div>

</form>
</div>
</section>
